// main typography

// headers
.header1 {
  font-size: 28px;
  font-weight: medium;
}

.header2 {
  font-size: 26px;
  font-weight: 700;
}

.header3 {
  font-size: 22px;
  font-weight: 700;
}

// body
.body1 {
  font-size: 14px;
}

.body2 {
  font-size: 16px;
}
